<appSettings>
  <add key="PageId" value="248172925640604" />
  <add key="AppId" value="1154741674634285" />
  <add key="AppSecret" value="8cf975b18c69aed33dcb548cc4208dd5" />
  <add key="VerificationToken" value="f3d482e7de58d766a76e7148986f66c1" />
  <add key="PageAccessToken" value="EAAQaOz9S7C0BAD8hmH79opwUoivhOHa5IxpplHTeJvZAhsMeajZCtytgxURZBt2wQQbHXqo393Kr2Om8ZAUdJoczwtoTtoIBY2whsVL7xiNwqoqIoJAECFOYyaNI0ZCLhSj0odRZB2DwGkCgLE0o392ZA7ZBBwqsxOHT2qY5eC648QZDZD" />
</appSettings>